#bootstrap-overrides .inner-button {
    border-radius: 10% 30% 50% 70%;
}

.message-list-group {
    height: 25vh;
    overflow-y: scroll;
}

.message-item {
    display: flex;
}

.message-item:hover {
    background-color: lightblue
}

.message-item:active {
    background-color: skyblue
}

.message-text {
    margin-left: 10px;
}